<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.scrapykart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".root.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".root.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".root.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".vendor.VendorActivity"
            android:label="@string/title_activity_vendor" />
        <activity
            android:name=".order.OrderActivity"
            android:label="@string/title_activity_order" />
        <activity
            android:name=".vendor.RateCardActivity"
            android:label="@string/title_activity_rate_card"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vendor.SelectionActivity"
            android:label="@string/title_activity_selection"
            android:theme="@style/AppTheme" />
        <activity android:name=".intro.WelcomeActivity"></activity>
    </application>

</manifest>